python-dotenv
slack_bolt
pytest
pre-commit
black
flake8
pandas
matplotlib
plotly
scipy
scikit-learn
pdfminer
pdfminer.six
rich
flask
notion_client
PyGithub
ngrok-api
arxiv
gunicorn
requests
faiss-cpu
tiktoken
langchain
openai
pysqlite3-binary